*~
*.gch
test.py
Oracle/build
Oracle/debug
Oracle/release
Oracle/build
Oracle/runs
Oracle.zip
Oracle/docs/html
Oracle/docs/latex
Oracle/checks
Oracle/report.txt
*.jpg
*.bmp
*.dat
*.general
*.window
tmp_GEO*
.eggs
__pycache__
*.egg-info
t4_geom_convert/Kernel/Configuration/config_parameters.ini
